//settings
$maxWidthContainer: 1080;
$maxWidth: 1920;
$fontFamily: 'Inter', sans-serif;
$fontSize: 16;
$colorDefault: #285cc4;
$colorBgDefault: #fff;
$accentColorDefault: #285cc4;

:root {
	--color-accent: #285cc4;
}

//colors
